.users{
    .batchBtn{
        margin-right: 10px;
    }
    .IceContainer{
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }
    .pagination{
        text-align: right;
        padding-top: 26px;
    }
}
